PORT=4000
DATABASE_URL=mong
BCRYPT_SALT_ROUNDS=10


JWT_ACCESS_SECRET=your-access-secret
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your-refresh-secret
JWT_REFRESH_EXPIRATION=7d
NODE_ENV=production

SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=1